<header class="sticky shadow-lg shadow-gray-200 top-0 w-full h-20 transition-all flex justify-between items-center p-4 bg-white dark:bg-defdark dark:shadow-gray-800">
  <h1 class="text-lg font-bold text-gray-800 dark:text-gray-200">Meu Site</h1>
  <div class="flex items-center">
    <label for="AcceptConditions"
      class="relative inline-block h-10 w-20 cursor-pointer rounded-full bg-gray-600 transition [-webkit-tap-highlight-color:_transparent] has-[:checked]:bg-white">
      <input type="checkbox" (change)="toggleTheme()" [checked]="!isDarkTheme" id="AcceptConditions"
        class="peer sr-only" />

      <!-- Sun Icon -->
      <div class="absolute left-2 top-1/2 -translate-y-1/2 flex items-center">
        <svg width="28px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z"
            stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>

      <!-- Moon Icon -->
      <div class="absolute right-2 top-1/2 -translate-y-1/2 flex items-center">
        <svg width="28px" height="28px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13 6V3M18.5 12V7M14.5 4.5H11.5M21 9.5H16M15.5548 16.8151C16.7829 16.8151 17.9493 16.5506 19 16.0754C17.6867 18.9794 14.7642 21 11.3698 21C6.74731 21 3 17.2527 3 12.6302C3 9.23576 5.02061 6.31331 7.92462 5C7.44944 6.05072 7.18492 7.21708 7.18492 8.44523C7.18492 13.0678 10.9322 16.8151 15.5548 16.8151Z"
            stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>

      <span
        class="absolute inset-y-0 start-0 m-1.5 size-7 rounded-full bg-white transition-all peer-checked:bg-gray-800 peer-checked:start-10"></span>
    </label>






  </div>
</header>
