<section id="aboutMe" class="flex h-[93vh] transition-colors duration-500 bg-white dark:bg-defdark">
    <aside
        class="bg-[url('/public/images/about-me.png')] bg-center bg-cover about-me-background h-full md:w-2/5 lg:w-1/3 xl:w-1/4">
        <div class="about-me-filter w-full h-full bg-deflight70 dark:bg-defdark70 transition-colors duration-500"></div>
    </aside>


    <aside
        class="bg-[url('/public/images/about-me.png')] bg-center bg-top md:bg-none bg-cover md:bg-white relative overflow-hidden md:w-3/5 lg:w-2/3 xl:w-3/4 px-2 mb:px-4 sm:px-8 md:px-4 lg:px-12 py-2 md:py-0 xl:me-12 flex flex-col justify-around text-defdark dark:text-white">

        <div class="absolute top-0 left-0 about-me-filter w-full h-full bg-deflight70 dark:bg-defdark70 transition-colors duration-500"></div>

        <div class="z-10 w-full h-full flex flex-col justify-around text-defdark dark:text-white">

            <h2 class="font-bold italic text-sm md:text-md lg:text-lg xl:text-xl"> {{ textAboutMe }} </h2>
            <p class="my-2 font-bold text-center text-sm md:text-sm lg:text-base xl:text-lg">
                Meu nome é João Pedro, e sou estudante de Análise e Desenvolvimento
                de Sistemas.
            </p>
    
            <span class="my-2 text-xs md:text-xs inline sm:hidden">Atualmente, meu foco é o desenvolvimento full stack,
                unindo Front-end e Back-end para
                criar soluções completas e eficientes.</span>
    
            <p class="my-2 text-xs hidden sm:block md:text-xs lg:text-sm xl:text-base">
                Em 2023 dei meus primeiros passos no mundo do desenvolvimento. A ideia de criar sistemas que não apenas
                atendem às necessidades do usuário, mas que também proporcionam uma experiência fluida e envolvente, me
                inspira a seguir aprendendo novas tecnologias e aprimorando minhas habilidades. <span
                    class="hidden lg:inline">Como desenvolvedor Full
                    Stack, me desafio a dominar tanto o desenvolvimento de interfaces quanto a arquitetura de sistemas e
                    bancos
                    de dados, sempre buscando mais excelência em cada etapa do processo.</span>
            </p>
    
    
            <div>
                <p class="mb-4 font-bold text-xs md:text-xs lg:text-sm xl:text-base">
                    Desde que comecei, já tive oportunidade de fazer alguns trabalhos na área, sendo eles os sites:
                </p>
    
                <ul class="list-none text-xs md:text-xs lg:text-sm xl:text-base">
                    <li class="mb-4 lg:mb-2">
                        <a class="no-underline font-bold hover:underline" href="https://pet-friends-divina.vercel.app/"
                            target="_blank" rel="noopener noreferrer">petfriendsdivina.com.br</a> -
                        trabalhei com o serviço de hospedagem da Vercel e de registro da Registro.br.
                    </li>
                    <li>
                        <a class="no-underline font-bold hover:underline" href="https://psidaniela.online/" target="_blank"
                            rel="noopener noreferrer">psidaniela.online</a>
                        -
                        tive a oportunidade de usufruir dos serviços da Hostinger tanto para hospedagem como para registro.
                    </li>
                </ul>
            </div>
    
    
            <div>
                <p class="mb-4 text-sm text-center md:text-sm lg:text-base xl:text-lg">
                    Aqui estão outras tecnologias e ferramentas que tenho conhecimento:
                </p>
    
                <div class="flex flex-wrap mx-auto justify-center">
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/tailwind.png" alt="icone tailwind" />
                        <div
                            class="invisible text-xs lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            Tailwind</div>
                    </div>
    
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default md:mb-2 lg:mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/bootstrap.png" alt="icone bootstrap">
                        <div
                            class="invisible text-xs lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            Bootstrap</div>
                    </div>
    
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default md:mb-2 lg:mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/figma.png" alt="icone figma">
                        <div
                            class="invisible text-xs lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            Figma</div>
                    </div>
    
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default md:mb-2 lg:mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/python.png" alt="icone Python">
                        <div
                            class="invisible text-xs lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            Python</div>
                    </div>
    
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default md:mb-2 lg:mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/csharp.png" alt="icone csharp">
                        <div
                            class="invisible text-xs lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            C#</div>
                    </div>
    
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default md:mb-2 lg:mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/arduino.png" alt="icone Arduino">
                        <div
                            class="invisible text-sm lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            Arduino</div>
                    </div>
    
                    <div class="group flex flex-col w-[70px] xl:w-16 xl:mx-4 items-center cursor-default md:mb-2 lg:mb-4">
                        <img class="grayscale min-w-8 w-8 xl:w-10 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                            src="/public/images/autocad.png" alt="icone autocad">
                        <div
                            class="invisible text-xs lg:text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                            AutoCAD</div>
                    </div>
                </div>
            </div>
        </div>

    </aside>
</section>