<section class="flex flex-col w-full h-[93vh] bg-white dark:bg-defdark transition-colors duration-500 z-10 relative overflow-hidden">
  <div id="parallax-container" style="background-image: url('/public/images/pattern.avif'); background-size: cover;" class="overflow-hidden absolute h-full w-full bg-cover bg-center bg-no-repeat"></div>

  <div class="flex flex-col md:flex-row items-center w-full h-[84vh]">

    <div class="w-full h-full p-8 md:py-12 md:px-12 flex flex-col justify-evenly items-center">


      <div id="layer" class="flex flex-col text-center md:block">
        <h1 id="title" class="font-bold text-2xl md:text-6xl xl:text-8xl text-defdark dark:text-white">{{ title
          }}</h1>
        <h2 id="subtitle" class="md:text-2xl xl:text-3xl opacity-60 text-defdark dark:text-white">Desenvolvedor
          Full Stack</h2>
      </div>

      <div class="flex flex-wrap mx-auto justify-center">

        <div class="group flex flex-col w-[70px] xl:w-20 xl:mx-4 items-center cursor-default mb-4">
          <img
            class="grayscale min-w-10 w-10 xl:w-14 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
            src="/public/images/fei.png" alt="icones html, css e javascript">
          <div
            class="invisible whitespace-nowrap overflow-visible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
            HTML, CSS, JS</div>
        </div>

        <div class="group flex flex-col w-[70px] xl:w-20 xl:mx-4 items-center cursor-default mb-4">
          <img
            class="grayscale min-w-10 w-10 xl:w-14 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
            src="/public/images/angular.png" alt="icone angular">
          <div
            class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
            Angular</div>
        </div>

        <div class="group flex flex-col w-[70px] xl:w-20 xl:mx-4 items-center cursor-default mb-4">
          <img
            class="grayscale min-w-10 w-10 xl:w-14 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
            src="/public/images/php.png" alt="icone PHP">
          <div
            class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
            PHP</div>
        </div>

        <div class="group flex flex-col w-[70px] xl:w-20 xl:mx-4 items-center cursor-default mb-4">
          <img
            class="grayscale min-w-10 w-10 xl:w-14 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
            src="/public/images/laravel.png" alt="icone Laravel">
          <div
            class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
            Laravel</div>
        </div>

        <div class="group flex flex-col w-[70px] xl:w-20 xl:mx-4 items-center cursor-default mb-4">
          <img
            class="grayscale min-w-10 w-10 xl:w-14 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
            src="/public/images/mysql.png" alt="icone MySQL">
          <div
            class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
            MySQL</div>
        </div>

        <div class="group flex flex-col w-[70px] xl:w-20 xl:mx-4 items-center cursor-default mb-4">
          <img
            class="grayscale min-w-10 w-10 xl:w-14 scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
            src="/public/images/git.png" alt="icone git">
          <div
            class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
            Git</div>
        </div>
      </div>

      <div class="text-defdark text-xs md:text-base font-bold little-about-me ps-5 dark:text-white">
        <p class="text-center">
          Muito prazer! Neste portfolio você poderá ver meus principais conhecimentos, projetos e
          formações.
        </p>
      </div>

    </div>

  </div>

  <div
    class="flex w-full h-[9vh] scale-50 mb:scale-75 md:scale-100 justify-center inline-block transition-colors duration-500">
    <img class="transition-all h-fit opacity-40 font-bold hover:opacity-100 dark:invert animate-move-arrow"
      src="/public/images/arrow.png" alt="icone de seta" />
  </div>
</section>
