<div class="flex flex-col w-full bg-white dark:bg-defdark transition-colors duration-500">
    <div class="flex w-full h-[81vh]">
        <div class="w-1/2 px-12 mt-12 flex flex-col justify-between mb-12">
            
            <div>
                <h1 id="title" class="font-bold text-8xl text-defdark dark:text-white">{{ title }}</h1>
                <h2 id="subtitle" class="text-3xl opacity-60 text-defdark dark:text-white">Desenvolvedor Front-end</h2>
            </div>
    
            <div class="flex mx-auto">
                <div class="group flex flex-col items-center cursor-default w-[6vw] icon-container mx-3">
                    <img class="grayscale min-w-[2vw] w-[2.8vw] scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                        src="/public/images/html.png" alt="icone html" />
                    <div
                        class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                        HTML 5</div>
                </div>
    
    
                <div class="group flex flex-col items-center cursor-default w-[6vw] icon-container mx-3">
                    <img class="grayscale min-w-[2vw] w-[2.8vw] scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                        src="/public/images/css.png" alt="icone css">
                    <div
                        class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                        CSS 3</div>
                </div>
    
                <div class="group flex flex-col items-center cursor-default w-[6vw] icon-container mx-3">
                    <img class="grayscale min-w-[2vw] w-[2.8vw] scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                        src="/public/images/js.png" alt="icone javascript">
                    <div
                        class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                        Javascript</div>
                </div>
    
                <div class="group flex flex-col items-center cursor-default w-[6vw] icon-container mx-3">
                    <img class="grayscale min-w-[2vw] w-[2.8vw] scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                        src="/public/images/bootstrap.png" alt="icone bootstrap">
                    <div
                        class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                        Bootstrap</div>
                </div>
    
                <div class="group flex flex-col items-center cursor-default w-[6vw] icon-container mx-3">
                    <img class="grayscale min-w-[2vw] w-[2.8vw] scale-100 transition-all group-hover:grayscale-0 group-hover:scale-110"
                        src="/public/images/figma.png" alt="icone figma">
                    <div
                        class="invisible text-base text-defdark opacity-0 translate-y-2 transition-all mt-3 group-hover:opacity-100 group-hover:translate-y-0 group-hover:visible dark:text-white">
                        Figma</div>
                </div>
            </div>
    
            <div class="text-defdark text-[1vw] font-bold little-about-me ps-5 dark:text-white">
                <p>
                    Muito prazer! sou programador Front-end, e
                    neste portfolio você pode ver meus principais conhecimentos, projetos e
                    formações.
                </p>
            </div>
    
        </div>
    
        <div class="w-1/2 flex justify-center p-16">
            <img src="{{devImage}}" class="img-fluid" alt="icone desenvolvedor" />
        </div>
    </div>

    <div class="flex w-full h-[9vh] justify-center inline-block bg-white dark:bg-defdark transition-colors duration-500">
        <img class="transition-all h-fit opacity-40 font-bold hover:opacity-100 dark:invert animate-move-arrow" src="/public/images/arrow.png" alt="icone de seta" />
    </div>
</div>