<section id="myFormations"
    class="bg-white dark:bg-defdark flex flex-col h-[93vh] transition-colors duration-500 justify-around pb-8">
    <h3 class="ps-12 my-12 font-bold text-3xl text-defdark dark:text-white">Aqui estão algumas das minhas qualificações,
        abrangendo tanto o Front-end quanto outras áreas:</h3>

    <div class="carousel-full w-full flex flex-col items-center mt-2 relative">
        <div id="carousel" class="relative w-full h-[400px]">
            <!-- Geração dinâmica de itens -->
            <div *ngFor="let item of items; let i = index" [class]="
            'absolute top-0 transition-all duration-700 ease-in-out ' + getClass(i)
          ">
                <img [src]="item" alt="Certificado" class="rounded-lg shadow-lg w-[400px] transition-all duration-700">
            </div>
        </div>

        <div class="text-defdark dark:text-white mt-2 flex cursor-default">
            <button id="prev" class="px-4 text-defdark dark:text-white font-bold opacity-70 hover:opacity-100 hover:scale-110 cursor-pointer transition-all duration-500"
                (click)="moveToSelected('prev')">
                Anterior
            </button>
            |
            <button id="next" class="px-4 text-defdark dark:text-white font-bold opacity-70 hover:opacity-100 hover:scale-110 cursor-pointer transition-all duration-500"
                (click)="moveToSelected('next')">
                Próximo
            </button>
        </div>
    </div>
</section>